{% extends "index.html" %}


{% block navbar %}
    {% include 'layout/dashboard_sup_navbar_admin.html' %}
{% endblock navbar %}


{% block body %}

<div class="dashboard-container">

    {% include "layout/dashboard_lateral_navbar_admin.html" %}

    <div class="dashboard-content-container">
        <div class="teacher-container">
            <div class="action-description">
                <h4>Our Teachers <i class="fa fa-users"></i> | </h4> <a href="{% url 'new-teacher' %}" class="btn ml-3">Create a new one</a>
            </div>
            <table class="table table-striped">
                <tbody>
                    {% if teachers %}
                    {% for teacher in teachers %}
                    
                    <tr class="text-center">
                        <td data-toggle="tooltip" data-placement="top" title="Teacher: {{teacher.name}}">{{teacher.name}}</td>
                        <td data-toggle="tooltip" data-placement="top" title="DNI: {{teacher.dni}}">{{teacher.dni}}</td>
                        <td>
                            {% if teacher.is_active %}
                                <span> <i class="fa fa-circle text-success"></i> Active</span>
                            {% else %}
                                <span> <i class="fa fa-circle text-danger"></i> Inactive</span>                            
                            {% endif %}
                        </td>
                        <td>
                            {% if teacher.is_active %}
                            <a href="{% url 'update-teacher-state' teacher.id %}" class="btn btn-warning btn-sm text-light"  data-toggle="tooltip" data-placement="top" title="Unsubscribe"> 
                                <i class="fa fa-thumbs-o-down"></i> 
                            </a>                            
                            {% else %}
                            <a href="{% url 'update-teacher-state' teacher.id %}" class="btn btn-success btn-sm text-light" data-toggle="tooltip" data-placement="top" title="Discharge"> 
                                <i class="fa fa-thumbs-o-up"></i> 
                            </a>
                            {% endif %}

                            <a href="{% url 'get-teacher-data' teacher.id %}" class="btn btn-info btn-sm text-light"  data-toggle="tooltip" data-placement="top" title="Update data"> 
                                <i class="fa fa-pencil"></i> 
                            </a>
                            <a href="{% url 'delete-teacher' teacher.id %}" class="btn btn-danger btn-sm" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Delete"> 
                                <i class="fa fa-trash"></i> 
                            </a>
                        </td>
                    </tr>

                    {% endfor %}
                    {% else %}
                    <tr class="text-center">
                        <td><span> There are no teachers <i class="fa fa-exclamation-triangle"></i> </span></td>
                    </tr>

                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock body %}