{% extends "index.html" %}

{% load static %}

{% block body %}

<div class="login-container">
    <div class="login-form-container">
        <div class="login-form">
            <div class="login-form-text">
                <h3 class="text-primary">Welcome to Alkemy Managment &#128640;</h3>
            </div>
            <form action="{% url 'administrator-auth' %}" method="POST">
                {% csrf_token %}
                {{form}}
                <button class="btn mt-3" type="submit">Login</button>
                <span id="span-error-msg" class="text-danger mt-2">{{msg}}</span>
            </form>
            <span><a href="{% url 'student-account-login' %}">Do you study here? Login as student!</a></span>
        </div>
        <div class="login-img">
            <img src="{% static 'img/login_administrator.jpg' %}" alt="">
        </div>
    </div>
</div>

{% endblock body %}