<div class="dashboard-lat-container">
    <div class="dashboard-lat-buttons">

        <div class="lat-button">
            <a href="{% url 'student-dashboard' %}" class="btn">
                <div class="button-icon">
                    <i class="fa fa-home"></i>
                </div>
                <div class="text-button">
                    <span>Home</span>
                </div>
            </a>
        </div>

        <div class="lat-button">
            <a href="{% url 'my-subjects' %}" class="btn">
                <div class="button-icon">
                    <i class="fa fa-book"></i>
                </div>
                <div class="text-button">
                    <span>My Subjects</span>
                </div>
            </a>
        </div>  

        <div class="lat-button">
            <a href="{% url 'inscriptions' %}" class="btn">
                <div class="button-icon">
                    <i class="fa fa-pencil"></i>
                </div>
                <div class="text-button">
                    <span>Inscriptions</span>
                </div>
            </a>
        </div> 

    </div>
</div>
