<div class="dashboard-lat-container">
    <div class="dashboard-lat-buttons">

        <div class="lat-button">
            <a href="{% url 'administrator-dashboard' %}" class="btn">
                <div class="button-icon">
                    <i class="fa fa-home"></i>
                </div>
                <div class="text-button">
                    <span>Home</span>
                </div>
            </a>
        </div>

        <div class="lat-button">
            <a href="{% url 'list-all-teachers' %}" class="btn">
                <div class="button-icon">
                    <i class="fa fa-users"></i>
                </div>
                <div class="text-button">
                    <span>Teachers</span>
                </div>
            </a>
        </div>  

        <div class="lat-button">
            <a href="{% url 'list-all-subjects' %}" class="btn">
                <div class="button-icon">
                    <i class="fa fa-book"></i>
                </div>
                <div class="text-button">
                    <span>Subjects</span>
                </div>
            </a>
        </div> 

        <div class="lat-button">
            <a href="{% url 'list-all-students' %}" class="btn">
                <div class="button-icon">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="text-button">
                    <span>Students</span>
                </div>
            </a>
        </div> 

    </div>
</div>
